<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Caveat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main-header">
        <div class="container">
          <div class="text-content">
            <h1><i class="<%= sandwich.icon %>"></i> <%= sandwich.name %> </h1>
            <p><%= sandwich.description %></p>
          </div>
        </div>
      </div>
 
    
  <div class="container">
      <ul class="home_list">
        <li><i class="fa-solid fa-house fa-lg"></i></li>
        <li class="home_text">
          <i class="fa-solid fa-cart-shopping fa-lg widget"></i> Your Cart<span class="cart-size"></span></li>
      </ul>
  </div>


<div class="container">
   <div class="spacing">

    <div class="food-label" data-label-id="" data-item-id="">
      <h3>Bread</h3>
    </div>

   <div class="card-wrapper">
   <div class="card" data-card-id="" data-item-id="">

    <div class="img-class">
      <img src="/img/white_shadow.png" alt="Card Image">
    </div>
  
    <div class="card-content">
      <h2 class="card-title">White Bread</h2>
      <p class="card-description">+$0.50</p>
    </div>
   </div>

  </div>
 </div>
</div>













</body>
</html>