<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rug Mill Deli </title>
    <link rel="stylesheet" href="/css/food_options.css">
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Caveat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
 

<%- include('partials/food_header'); -%>


<div class="main-section">
    <div class="container">
        <div class="wrapper">

            <% display_food.forEach(sandwich => { %>
                <div class="card" data-item-id="<%= sandwich._id %>" onclick="handleCardClick(this)">
                    <div class="circle">
                        <img src="img/<%= sandwich.image %>" alt="Image">
                    </div>
                    <div class="text">
                        <p><%= sandwich.name %></p>   
                    </div>
                </div>
            <% }); %>

           

        </div>
    </div>
</div>


 <script>
    
    async function handleCardClick(card){
        const sandwichId = card.getAttribute('data-item-id');
        console.log('Clicked card with sandwich ID:', sandwichId);

        try {
            const res = await fetch(`/sandwich-val/${sandwichId}`, {
            method: 'GET'
            });
            const data = await res.json();
           

            if (data.isValid) {
            // If the ID is valid
            console.log('Valid sandwich ID:', sandwichId);
            console.log('Sandwich Data:', data.sandwich);
            window.location.href = `/customizations/${sandwichId}`;

           } else{
            // Handle the case where the ID is not valid.
            console.error('Invalid sandwich ID:', sandwichId);
           }

        } catch (error) {
            console.log("This Is the Error..." + error);
        }     
    }

  const cartIcon = document.querySelector('.fa-cart-shopping');
  const cartSizeSpan = document.querySelector('.cart-size');

  if (cartIcon || cartSizeSpan) {
     cartIcon.addEventListener('click', async function () {
     console.log('Cart Icon clicked!');
       try {
        const res = await fetch('/toCart', {
          method: 'GET',
        });

        if (res.status === 204) {
          // Handle the case when there's nothing in the cart (status 204)
          alert('Nothing in the cart.');
        } else {
          const data = await res.json();
          console.log(data);
          if (data.valid) {
            window.location.href = `/getCart/${data.cartID}`;
          } else {
            alert(data.message);
          }
        }
       } catch (error) {
        console.error('Error:', error);
        alert('User Cart is not findable');
       }
     });
   }  
    


   
    
 </script>



</head>
</html>