<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rug Mill Deli </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Caveat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

  <header class="primary-header">
    <div class="container">
     <div class ='nav-wrapper'>
      <div class="first-wrapper"> 
        
        <ul class="signout">
          <li>Sign Up</li>
          <li>Log In</li>
        </ul>
        <img src="img/logo.png.png" alt="logo"  class="logo">
        <div class="header">Rug Mill Deli!</div>
      </div>


      <div class="second-wrapper">
        <ul class="nav-elements">
           <li class="nav-header">Rug Mill Deli!</li>
           <% if (user) { %>
            <li class="elements"><i class="fa-solid fa-utensils widget"></i> Menu</li>
            <li class="elements"><i class="fa-solid fa-wallet widget"></i> Orders </li>
            <li class="elements"><a href="/logout"><i class="fa-solid fa-door-open widget"></i> Log Out</a></li>

            <% } else  { %> 
           <li class="elements"><i class="fa-solid fa-utensils widget"></i> Menu</li>
           <li class="elements"><a href="/login"> Log In</a></li> 
           <li class="elements"><a href="/signup"><i class="fa-solid fa-address-card widget"></i> Sign Up</a></li>
           <% } %>
        </ul>
      </div>

      <div class="third-wrapper">
        <button class="button-74"><i class="fa-solid fa-cart-shopping widget"></i> Your Cart <span class="cart-size"></span></button> 
      </div>
     </div>
    </div>
  </header>


  <div class="hero-section">
     <div class="container">
       <div class="even-collums">
        
         <div class="first-hero-col">
            <div class="sub-head"><i class=" hero-burg fa-solid fa-burger fa-xl"></i> Your Deli Destination.</div>
            <div class="hero-header">Come Hungry, Leave <mark class="light"> Happy </mark></div>
          </div>

          <div class="second-hero-col">
            <img src="img/Floating-burger-transparent-background-PNG.png" alt="Floating Burg" width="200px" class="burg">
          </div>

        </div>

      </div>
  </div>


  <main class="main-section">
    <div class="container">
      <div class="two-collums">

         <div class="big-picutre">
           <img src="img/person-holding-fried-chicken-sandwich.png" alt="#"  class="eating-chicken">
         </div>

         <div class="menu-options">
           <div class="text-block">
            <h4><i class="fa-solid fa-lg fa-caret-right widget"></i>Your Sandwich, Your Way</h4>
            <h1>Classic Deli Combos: Timeless flavor pairings</h1>
            <p>Our kitchen is open from 6am to 3pm. We offer a breakfast menu (that is also open until the kitchen 
              closes), deli sandwhiches, burgers, wraps, salads and fried food. 
              Please be sure to look at our menu for more information.</p>
           </div>

          <ul class="options">

             <li class="food-items"><button class="button-19"><a href="/breakfast"><i class="fa-solid fa-egg"></i><h3>Breakfast</h3></a></button></li>
             <li class="food-items"><button class="button-19"></i><i class="fa-solid fa-bread-slice"></i><h3>Cold Subs</h3></button></li>
             <li class="food-items"><button class="button-19"></i><i class="fa-solid fa-fire-flame-curved"></i><h3>Hot Subs</h3></button></li>
             <li class="food-items"><button class="button-19"></i><i class="fa-solid fa-plate-wheat"></i> <h3>Salads & Wraps</h3></button></li>
             <li class="food-items"><button class="button-19"><i class="fa-solid fa-burger"></i></i><h3>Hamburger</h3></button></li>
             <li class="food-items"><button class="button-19"><i class="fa-solid fa-drumstick-bite"></i><h3>Chicken</h3></button></li>

          </ul>

         </div>

      </div>
    </div>
  </main>


  
</body>
</html>