<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Caveat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

  
    <form action="/signup">
        <img src="img/logo.png.png" class="logo" alt="">
        <h2><i class="fa-solid fa-user widget"></i> Log In</h2>
        <label for="email">Email</label>
        <input type="text" name="email"/>
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <div class="password error"></div>
        <button>login</button>
    </form>

</body>
</html>