<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart!</title>
    <title> Rug Mill Deli </title>
    <link rel="stylesheet" href="/css/success.css">
    <script src="https://kit.fontawesome.com/093b934dd0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Caveat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="circle">
            <div class="checkmark">
                <i class="fa-solid fa-check fa-2xl"></i>
            </div>
        </div>
        <h3>Payment Complete</h3>
        <h4>Relocating to main page soon...</h4>
    </div>

<script>
  // Automatically redirect to the main page after 5 seconds
  setTimeout(function() {window.location.assign('/');}, 4000); // 5000 milliseconds = 5 seconds
</script>
</body>
</html>