/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  -----------------------------------------------RESET END--------------------------------------------------- */

.container{
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.card:hover{
  cursor: pointer;
}


/*  -----------------------------------------------UNIVERSAL END--------------------------------------------- */

.main-header{
    padding: 20px;
    
}

.main-header .container .text-content h1{
    font-weight: 900;
}

.main-header .container .text-content i{
    margin-right: 5px;
    color: rgb(240, 164, 49);
}

.main-header .container .text-content p{
    padding-top: 7px;
    max-width: 700px;
}


.home{
  padding: 10px;
}

.home .container{
  display: flex;
  justify-content:center;
}

.fa-house{
  cursor: pointer;
}

.home .container .cartandhome{
  text-align:center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  gap: 3em; 
}

.my-cart {
  position: relative;
  display: inline-block;
} 

.cart-size{
  font-size: medium;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: -8px;
  right: -23px;
  width: 23px;
  height: 23px;
  background-color: rgb(244, 109, 109);
  border-radius: 50%;
}

.home_list{
  padding-top: 15px;
  display: flex;
  list-style: none;
  gap: 1.5em;
  justify-content: center;
  
}

.home_text{
  position:relative;
  display: inline-block;
}

.bubble{
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: -6px;
  right: -19.5px;
  width: 20px;
  height: 20px;
  background-color: rgb(244, 109, 109);
  border-radius: 50%;
}

.fa-cart-shopping{
  padding-right: 5px;
}

.home_text{
  cursor: pointer;
}


/* ---------------------------------------------- Main header ends -------------------------------------------*/

.food-label h3{
  display: inline-block;
  padding: 10px;
  color: rgb(193, 133, 20);
  font-weight: 900;
  font-size: 27px;
}

.spacing{
  padding-top: 30px;
}

.card-wrapper{ 
  display: flex;
  gap: 2.5em;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 160px;
  border-radius: 5px;
  justify-content: center; /* Center contents vertically */
  align-items: center; /* Center contents horizontally */
  position: relative;
  height: 250px; /* Adjust the height as needed */
  transition: all 0.3s ease; /* Add transition for smooth effect */

}

.selected{
  border: 3px solid rgb(243, 154, 22);
}

/* Style for the card image */
.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-title{
  font-size: 15px;
}

.card-description{
  font-size: 13px;
}

/* Add spacing between the image and card content */
.img-class {
  margin-bottom: 20px; /* Adjust the margin as needed for spacing */
}

/* Style for the card content */
.card-content {
  text-align: center; /* Center text within the card content */
  padding: 10px; /* Adjust the padding as needed for space within the card content */
}

/* Apply the glass effect on hover */
.card:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Increase opacity on hover */
  transform: translateY(-5px); /* Move the card up slightly on hover */
}


.buttons {
  width: 160px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.buttons button {
  width: 130px;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
}

/* Add this CSS to style the active button */
.buttons button.active {
  background-color: rgba(243, 226, 226, 0.7); /* Change the background color when active */
  border: 3px solid rgb(243, 154, 22); /* Change the border color when active */
  color: rgb(243, 154, 22); /* Change the text color when active */
  background-color: blanchedalmond;
  font-weight: bold;
}

/* ---------------------------------------------- Selector ends -------------------------------------------------*/

.footer-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Set a higher z-index value */
  padding: 15px;
}

.footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-side h4{
  padding-bottom: 5px;
  font-weight: 500;
}

.footer-side h6{
  padding-bottom: 5px;
  font-weight: 300;
}

.add-cart{
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.counter-box{
  border: 1px solid #298e46;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  padding: 5px 30px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.counter{
  color: #298e46;
  padding: 20px;
  font-size: larger;
}

.count-btn{
  appearance: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  color: #059511;
}

.Dynamic-Price{
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}

.Dynamic-Ingredient{
  max-width: 650px;
}

.price{
  display: none;
}


.content{
  margin-bottom: 100px;
  padding-bottom: 125px; /* Add padding equal to the height of the black box */
}


/* CSS */
.add_to_cart {
  appearance: none;
  background-color:#298e46;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  padding: 5px 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

/* Media query for screens with a width of 652px or lower */
@media (max-width: 652px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .information {
    margin-bottom: 10px;
  }

  .add-cart {
    width: 100%;
  }

  .counter-box{
    width: 70%;
  }

  .cart_button{
    width: 100%;
  }
}










